.tri-cut-top-left,
.tri-cut-top-right,
.tri-cut-bottom-left,
.tri-cut-bottom-right {
    position: relative;
    overflow: hidden;
}

.tri-cut-top-left::before,
.tri-cut-top-right::before,
.tri-cut-bottom-left::before,
.tri-cut-bottom-right::before {
    content: "";
    position: absolute;
    background-color: #000;
    background-image: url('../images/dot.svg');
    background-repeat: repeat;
    background-size: 28px 28px;
    background-position: 0 0;
    z-index: 1;
}

.tri-cut-top-left-white::before,
.tri-cut-top-right-white::before,
.tri-cut-bottom-left-white::before,
.tri-cut-bottom-right-white::before {
    background-color: #fff;
}

.tri-cut-top-left::before {
    top: -1px;
    left: 0;
    width: 100vw;
    height: 280px;
    clip-path: polygon(0 0, 100% 0, 0 100%);
}

.tri-cut-top-right::before {
    top: -1px;
    right: 0;
    width: 100vw;
    height: 280px;
    clip-path: polygon(0 0, 100% 0, 100% 100%);
}

.tri-cut-bottom-left::before {
    bottom: -1px;
    left: 0;
    width: 100vw;
    height: 280px;
    clip-path: polygon(0 100%, 0 0, 100% 100%);
}

.tri-cut-bottom-right::before {
    bottom: -1px;
    right: 0;
    width: 100vw;
    height: 280px;
    clip-path: polygon(0 100%, 100% 0, 100% 100%);
}

.bg-dots-dark {
    background-image: url('../images/dot.svg');
    background-repeat: repeat;
    background-size: 28px 28px;
    background-position: 0 0;
}

.clip-diagonal-tl {
    --clip-size: 150px;
    clip-path: polygon(var(--clip-size, 150px) 0,
            100% 0,
            100% 100%,
            0 100%);
}

.clip-diagonal-br {
    --clip-size: 150px;
    clip-path: polygon(0 0,
            100% 0,
            calc(100% - var(--clip-size, 150px)) 100%,
            0 100%);
}