.footer {
  background-image: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%), url("../images/footer_bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
}


.footer-top__inner {
  max-width: 1190px;
}

.footer-title {
  margin: 0 0 30px;
}

.footer-contact {
  display: flex;
  gap: 120px;
  padding: 50px;
  background: rgba(0, 0, 0, 1);
}

.footer-form {
  flex: 1;
}

.footer-form__field {
  border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
  padding: 16px 0;
}

.footer-form-input {
  width: 100%;
  background: transparent;
  border: 0;
  color: #CACACA;
  resize: none;
}

.footer-form-input:focus-visible {
  outline: none;
}

.footer-form__meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 16px;
}

.footer-form-count {
  color: #CACACA;
}

.footer-form-submit {
  background: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.footer-info {
  flex: 0 0 320px;
  display: flex;
  flex-direction: column;
  gap: 0;
}

.footer-info-row {
  margin: 0 0 20px;
}

.footer-info-row:last-child {
  margin-bottom: 0;
}

.footer-bottom {
  position: relative;
  padding: 30px 0;
}

.footer-bottom::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 100vw;
  transform: translateX(-50%);
  border-top: 1px dashed rgba(255, 255, 255, 0.3);
}

.footer-bottom__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-copy {
  margin: 0;
}

.footer-social {
  display: inline-flex;
  align-items: center;
  gap: 25px;
}

.footer-social__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}