@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-Thin.woff2') format('woff2'),
    url('../fonts/Industry-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-ThinItalic.woff2') format('woff2'),
    url('../fonts/Industry-ThinItalic.woff') format('woff');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-Light.woff2') format('woff2'),
    url('../fonts/Industry-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-LightItalic.woff2') format('woff2'),
    url('../fonts/Industry-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-Book.woff2') format('woff2'),
    url('../fonts/Industry-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-BookItalic.woff2') format('woff2'),
    url('../fonts/Industry-BookItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-Medium.woff2') format('woff2'),
    url('../fonts/Industry-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-MediumItalic.woff2') format('woff2'),
    url('../fonts/Industry-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-Demi.woff2') format('woff2'),
    url('../fonts/Industry-Demi.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-DemiItalic.woff2') format('woff2'),
    url('../fonts/Industry-DemiItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-Bold.woff2') format('woff2'),
    url('../fonts/Industry-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-BoldItalic.woff2') format('woff2'),
    url('../fonts/Industry-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-Black.woff2') format('woff2'),
    url('../fonts/Industry-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-BlackItalic.woff2') format('woff2'),
    url('../fonts/Industry-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-Ultra.woff2') format('woff2'),
    url('../fonts/Industry-Ultra.woff') format('woff');
  font-weight: 950;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Industry';
  src: url('../fonts/Industry-UltraItalic.woff2') format('woff2'),
    url('../fonts/Industry-UltraItalic.woff') format('woff');
  font-weight: 950;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Kaneda Gothic';
  src: url('../fonts/KanedaGothic-Medium.woff2') format('woff2'),
    url('../fonts/KanedaGothic-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Kaneda Gothic';
  src: url('../fonts/KanedaGothic-MediumItalic.woff2') format('woff2'),
    url('../fonts/KanedaGothic-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Kaneda Gothic';
  src: url('../fonts/KanedaGothic-BlackItalic.woff2') format('woff2'),
    url('../fonts/KanedaGothic-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

:root {
  --font-family-base: 'Industry', sans-serif;
  --font-family-display: 'Kaneda Gothic', 'Industry', sans-serif;
}


html,
body {
  font-optical-sizing: auto;
  font-style: normal;
  font-family: var(--font-family-base);
  font-weight: 500;
}

html::selection {
  color: rgb(255, 255, 255);
}

button {
  font: inherit;
}

input,
textarea,
select {
  font: inherit;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-display);
  font-weight: 900;
  font-style: italic;
  line-height: 1.2;
  margin-bottom: 20px;
}

p {
  font-family: var(--font-family-base);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  margin-bottom: 20px;
  color: inherit;
}

.main,
#newsletter-email {
  font-family: var(--font-family-base);
}

@media screen and (max-width:1600px) {

  body,
  html {
    font-size: 80%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 15px;
  }

  p {
    margin-bottom: 15px;
  }
}

@media screen and (max-width:1280px) {

  body,
  html {
    font-size: 70%;
  }
}

@media screen and (max-width:1024px) {
  input {
    font-size: 16px !important;
  }
}

@media screen and (max-width:768px) {

  body,
  html {
    font-size: 60%;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;
  }

  input {
    font-size: 16px !important;
  }
}

@media screen and (max-width:700px) {
  input {
    font-size: 16px !important;
  }

  body,
  html {
    font-size: 50%;
  }
}


.banner-display-text {
  font-family: 'Kaneda Gothic', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 360px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #D9D9D9;
}

.nav-cta-text {
  font-family: 'Kaneda Gothic', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 25px;
}

.brand-grid-text_kaneda {
  font-family: 'Kaneda Gothic', sans-serif;
  font-weight: 500;
  font-style: italic;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #7E212B;
}

.section-title {
  font-family: 'Kaneda Gothic', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 121px;
  line-height: 110%;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  span {
    @include textOutline;
  }
}

.section-title--thin-outline span {
  @include textOutlineThin;
}


.solutions-card-heading {
  font-family: 'Kaneda Gothic', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 37px;
  line-height: 110%;
  letter-spacing: 0.03em;
}

.solutions-card-subheading {
  font-family: 'Kaneda Gothic', sans-serif;
  font-weight: 400;
  font-style: italic;
  font-size: 27px;
  line-height: 110%;
  letter-spacing: 0.03em;
}

.solutions-card-outline {
  font-weight: 600;
  letter-spacing: 0.03em;
}

.solutions-card-desc {
  letter-spacing: 0.03em;
}

.examples-title-text {
  font-family: 'Kaneda Gothic', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 48px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.examples-number-text {
  font-family: 'Kaneda Gothic', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 128px;
  line-height: 1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.examples-subtitle-text {
  font-family: 'Industry', sans-serif;
  font-weight: 800;
  font-style: italic;
  font-size: 26px;
  line-height: 1.4;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.examples-title {
  font-family: 'Kaneda Gothic', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 64px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.inner-banner-title {
  font-family: 'Kaneda Gothic', sans-serif;
  font-weight: 900;
  font-style: italic;
  font-size: 208px;
  line-height: 105%;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  span {
    @include textOutline;
  }
}

.platform-link-title {
  font-family: 'Industry', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #7E212B;
}

.platform-link-text {
  font-family: 'Industry', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #2F3033;
}

.footer-form-input::placeholder {
  font-family: 'Industry', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-info-key {
  font-family: 'Industry', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #7E212B;
}

.footer-info-value {
  font-family: 'Industry', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #CACACA;
}

.footer-copy {
  font-family: 'Industry', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 19px;
  line-height: 100%;
  letter-spacing: 0.03em;
  color: #A3A3A3;
}